<!doctype html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A customizable personal portfolio template built by the Code Collab team." />
  <meta name="author" content="Code Collab" />
  <meta name="theme-color" content="#ffffff" />


  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />


  <!-- Open Graph (for link previews) -->
  <meta property="og:title" content="Personal Portfolio Template" />
  <meta property="og:description" content="A modern portfolio template using React, Tailwind, and TanStack Router." />
  <meta property="og:image" content="C:\Users\hejib\code-collab\personal-portfolio-template\template\public\codeLogo.png" />
  <meta property="og:url" content="https://code-collab-personal-portfolio.vercel.app" />  <!-- Temporary. Change when deploying. -->
  <meta property="og:type" content="website" />


  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Personal Portfolio Template" />
  <meta name="twitter:description" content="A modern portfolio template using React, Tailwind, and TanStack Router." />
  <meta name="twitter:image" content="C:\Users\hejib\code-collab\personal-portfolio-template\template\public\codeLogo.png" />


  <title>Code Collab Portfolio Template</title>
</head>




<body>
  <div id="root"></div>
  <script type="module" src="/src/main.jsx"></script>
</body>


</html>
